.card-container {
    width: 500px;
    height: 200px;
    border: 0.5em solid #698733;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    box-sizing: border-box;
}

.card-container-img {
    height: 70%;
    width: auto;
}
