@media (min-width: 900px) {
    body { background-color: lightgreen; }
}

@media (max-width: 599px) {
    body { background-color: lightblue; }
}

@media (min-width: 600px) and (max-width: 899px) {
    body { background-color: lightyellow; }
}
